<a href="/nagl/drivers/new" target="_blank" class="inline-block mb-2 px-3 py-1 bg-blue-600 text-white rounded">إضافة سائق</a>
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover data-table results-table">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>رقم الهوية</th>
      <th>المنشأة</th>
    </tr>
  </thead>
  <tbody>
    <% drivers.forEach(d => { %>
      <tr>
        <td><pre class="codebox"><%= d.FirstName %> <%= d.LastName %></pre></td>
        <td><pre class="codebox"><%= d.IdentityNumber || '' %></pre></td>
        <td><pre class="codebox"><%= d.FacilityName || '' %></pre></td>
      </tr>
      <% }) %>
    </tbody>
</table>
</div>
