<div class="d-flex mb-3">
  <a href="/nagl/vehicles/new" target="_blank" class="btn btn-success ms-auto">
    <i class="bi bi-plus-circle me-1"></i> إضافة مركبة
  </a>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped data-table results-table">
    <thead class="table-light">
      <tr>
        <th></th>
        <th>رقم اللوحة</th>
        <th>الرقم التسلسلي</th>
        <th>المنشأة</th>
        <th>تعديل</th>
      </tr>
    </thead>
    <tbody>
      <% vehicles.forEach(v => { %>
        <tr>
          <td></td>
          <td><pre class="codebox"><%= v.PlateNumber || '' %></pre></td>
        <td><pre class="codebox"><%= v.SerialNumber || '' %></pre></td>
        <td><pre class="codebox"><%= v.Name || '' %></pre></td>
        <td><a href="/nagl/vehicles/<%= v.ID %>/edit">تعديل</a></td>
      </tr>
      <% }) %>
    </tbody>
</table>
</div>
