<div class="d-flex mb-3">
  <a href="/nagl/suppliers/new" class="btn btn-success ms-auto">
    <i class="bi bi-plus-circle me-1"></i> إضافة مورد
  </a>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped data-table results-table">
    <thead class="table-light">
      <tr>
        <th></th>
        <th>الرقم</th>
        <th>الاسم</th>
        <th>إجراءات</th>
      </tr>
    </thead>
    <tbody>
      <% suppliers.forEach(s => { %>
        <tr>
          <td></td>
          <td><pre class="codebox"><%= s.id %></pre></td>
        <td><pre class="codebox"><%= s.name %></pre></td>
        <td>
          <a href="/nagl/suppliers/<%= s.id %>/edit" class="btn btn-sm btn-outline-primary">تعديل</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
