<div class="card card-form">
<form method="POST" action="/nagl/suppliers">
  <div class="mb-3">
    <label class="form-label">اسم المورد</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">إضافة</button>
</form>
</div>
