<div class="row g-3">
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/nagl/driver-cards" class="btn btn-primary btn-lg w-100 btn-icon"><i class="bi bi-person-badge"></i> بطاقات السائقين</a>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/nagl/cards" class="btn btn-primary btn-lg w-100 btn-icon"><i class="bi bi-card-list"></i> كروت التشغيل</a>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/nagl/facilities" class="btn btn-primary btn-lg w-100 btn-icon"><i class="bi bi-building"></i> المنشآت</a>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/nagl/drivers" class="btn btn-primary btn-lg w-100 btn-icon"><i class="bi bi-people"></i> السائقون</a>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/nagl/vehicles" class="btn btn-primary btn-lg w-100 btn-icon"><i class="bi bi-truck"></i> المركبات</a>
  </div>
</div>
