<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/nagl/css/style.css">
</head>
  <body class="p-4">
  <nav class="bg-white shadow-sm mb-4 rounded-b p-2 sticky top-0">
    <a href="/nagl/" class="font-bold">الرئيسية</a>
    <ul class="flex gap-4 mt-2">
      <li><a href="/nagl/driver-cards" class="hover:underline">بطاقات السائقين</a></li>
      <li><a href="/nagl/cards" class="hover:underline">كروت التشغيل</a></li>
      <li><a href="/nagl/facilities" class="hover:underline">المنشآت</a></li>
      <li><a href="/nagl/drivers" class="hover:underline">السائقون</a></li>
      <li><a href="/nagl/vehicles" class="hover:underline">المركبات</a></li>
    </ul>
  </nav>
  <h1 class="mb-4 text-center"><%= header %></h1>
  <%- body %>
  
</body>
</html>
