<div class="d-flex mb-3">
  <a href="/nagl/facilities/new" target="_blank" class="btn btn-success ms-auto">
    <i class="bi bi-plus-circle me-1"></i> إضافة منشأة
  </a>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped data-table results-table">
    <thead class="table-light">
      <tr>
        <th></th>
        <th>الاسم</th>
        <th>رقم الهوية</th>
        <th>نوع الترخيص</th>
        <th>تعديل</th>
      </tr>
    </thead>
    <tbody>
      <% facilities.forEach(f => { %>
        <tr>
          <td></td>
          <td><pre class="codebox"><%= f.Name %></pre></td>
        <td><pre class="codebox"><%= f.IdentityNumber %></pre></td>
        <td><pre class="codebox"><%= f.LicenseType || '' %></pre></td>
        <td><a href="/nagl/facilities/<%= f.FacilityID %>/edit">تعديل</a></td>
      </tr>
      <% }) %>
    </tbody>
</table>
</div>
