<div class="card card-form">
<form method="POST" action="/nagl/license-types">
  <div class="mb-3">
    <label class="form-label">الاسم بالعربية</label>
    <input type="text" name="LicenseTypeNameAR" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">الاسم بالإنجليزية</label>
    <input type="text" name="LicenseTypeNameEN" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">إضافة</button>
</form>
</div>
