<div class="card card-form">
<form method="POST" action="/nagl/brands/<%= brand.BrandID %>">
  <div class="mb-3">
    <label class="form-label">اسم الماركة</label>
    <input type="text" name="BrandName" class="form-control" value="<%= brand.BrandName %>" required>
  </div>
  <button type="submit" class="btn btn-success">تحديث</button>
</form>
</div>
